<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="/form.css">


		<head>
		  <meta charset="UTF-8">
</head>
<body>


        <img class="logos" src="/img/Watson.jpg" alt="Imperial">
<div>
  <form action="/upload" name="formP" method="POST" id="cv-form">
    <label class="lab"  id="juj" >Nombre Completo</label>
    <input type="text" id="fname" name="Nombre" placeholder="Tu nombre.." >

    <label class="lab" for="age">Edad</label>
    <input type="text" id="age" name="Edad" placeholder="Tu edad.." required>

    <label class="lab" for="fnamje">Si pudieras ser un heroe o villano, ¿Quién te gustaria ser? ¿Por qué?</label>
    <input type="text" id="p1" name="p1" placeholder="H o V.." maxlength="3000">

    <label class="lab" for="lname">¿Cuál seria tu poder? ¿Por qué?</label class="lab" for="lname">
    <input type="text" id="p6" name="p6" placeholder="poder.." maxlength="3000">

    <label class="lab" for="lname">¿Prefieres una persona honesta o una persona que solo te diga lo que quieres escuchar? ¿Por qué?</label>
    <input type="text" id="p2" name="p2" placeholder="honestidad.." maxlength="3000">

    <label class="lab" for="lname">Si pudieras regresar el tiempo, ¿A qué punto de tu vida lo harías?</label>
    <input type="text" id="p3" name="p3" placeholder="timepo..." maxlength="3000">

    <label class="lab" for="lname">¿Cuál ha sido tu mayor logro, cómo fue y cuál es tu meta a un futuro a mediano plazo?</label>
    <input type="text" id="p4" name="p4" placeholder="logro..." maxlength="3000">

    <label class="lab" for="lname">¿Cómo es un dia ideal para ti?</label>
    <input type="text" id="p5" name="p5" placeholder="ideal..." maxlength="3000">
    

    <input type="submit" value="Analizar">

  </form>

</div>

</body>
</html>
